{% extends 'dashboard/sidebar_base.html' %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'file_manager/file_manager.css' %}">
{% endblock %}

{% block main %}
    <main class="row col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="folder-fill" viewBox="0 0 16 16" style="color: #ffd45e">
                <path fill-rule="evenodd"
                      d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"></path>
            </symbol>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="file-embark-fill" viewBox="0 0 16 16">
                <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z"></path>
            </symbol>
        </svg>

        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last modified</th>
                    <th scope="col">type</th>
                    <th scope="col">size</th>
                </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    {% load static %}
    <script src="{% static 'file_manager/file_manager.js' %}"></script>
    <script>
        const arr = JSON.parse(decodeHtml('{{ all_files }}'))
        update_table(arr)


    </script>
{% endblock %}