{% extends 'dashboard/sidebar_base.html' %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'file_manager/file_manager.css' %}">
{% endblock %}

{% block main %}
    <main class="row col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="folder-fill" viewBox="0 0 16 16" style="color: #ffd45e">
                <path fill-rule="evenodd"
                      d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"></path>
            </symbol>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="file-embark-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z"></path>
            </symbol>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
            </symbol>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="dots" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
            </symbol>
        </svg>

        <div class="modal" id="dropdown_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-truncate">Move file</h1>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="modal_input" class="col-form-label">Destination Path (eg: my folder/other
                                folders, leave empty for root folder)</label>
                            <input type="text" class="form-control" id="modal_input">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="upload_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-truncate">Upload file</h1>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="upload_form">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.file }}
                            </div>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div id="loading_bar" class="progress" role="progressbar">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%">
                    loading
                </div>
            </div>
            <div id="upload_bar" class="progress" role="progressbar" style="display: none">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                     style="width: 0;">
                    Uploading
                </div>
            </div>
            <header class="navbar sticky-top bg-dark p-0 shadow overflow-x-scroll" data-bs-theme="dark">
                <div>
                    <ol id="file_path" class="list-group text-nowrap list-group-horizontal">
                    </ol>
                </div>
            </header>
            <button class="btn btn-secondary" data-bs-toggle='modal' data-bs-target="#dropdown_modal" data-bs-path="."
                    data-bs-function="create_folder">New Folder
            </button>
            <button class="btn btn-secondary" data-bs-toggle='modal' data-bs-target="#dropdown_modal" data-bs-path="."
                    data-bs-function="create_file">New File
            </button>
            <button class="btn btn-secondary" data-bs-toggle='modal' data-bs-target="#upload_modal">Upload file</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class='col-6' scope="col">Name</th>
                    <th class='col-2' scope="col">Last modified</th>
                    <th scope="col">type</th>
                    <th scope="col">size</th>
                    <th class='col-1' scope="col"></th>
                </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    {% load static %}
    <script src="{% static 'file_manager/file_manager.js' %}"></script>
    <script>
        const socket = new WebSocket(
            'wss://localhost/ws/file_manager/'
        )

        let _current_path = [];
        let _last_path = []

        function list_folder(path) {
            socket.send(JSON.stringify([{{ list_file }}, [path.join('/')]]))
        }

        function file_operations(func) {
            let functions = {
                'move': {{ move_file }},
                'copy': {{ copy_file }},
                'delete': {{ delete_file }},
                'create_folder': {{ make_dir }},
                'create_file': {{ create_file }}
            }

            function _func(args) {
                socket.send(JSON.stringify([functions[func], args]))
                progress('50%')
            }

            return _func
        }


        function change_path(path) {
            _current_path = path
            clear_file_path()
            update_file_path(path)
        }

        socket.onopen = function () {
            list_folder(_current_path)
            progress('50%')
        }

        socket.onmessage = function (event) {
            progress('75%')
            let data = event.data
            data = JSON.parse(event.data);
            let data_type = data[0]
            let res = data[1]
            let content = data[2]
            let simple_funcs = [{{ move_file }}, {{ copy_file }}, {{ delete_file }}, {{ make_dir }}, {{ create_file }}]
            if (data_type === {{ list_file }}) {
                if (res) {
                    _last_path = _current_path
                    update_table(content)
                } else {
                    change_path(_last_path)
                    list_folder(_current_path)
                    alert(content)
                }
            } else if (simple_funcs.includes(data_type)) {
                alert(content)
                list_folder(_current_path)
            }

            progress('100%')
        }

        function folder_dblclick(name) {
            function event_handler(event) {
                progress('25%')
                table_element.innerText = '';
                _current_path.push(name)
                change_path(_current_path)
                list_folder(_current_path)
                progress('50%')
            }

            return event_handler
        }

        append_path("Root", [], true)

    </script>
{% endblock %}