localhost {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy localhost:8000 {
		header_up -HTTP_X_FORWARDED_PROTO
		header_up +HTTP_X_FORWARDED_PROTO {https}
	}
}
