{% extends 'dashboard/base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/sidebar_base.css' %}">
{% endblock %}

{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </symbol>
    </svg>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="">Website</a>
        <ul class="navbar-nav flex-row d-md-none">
            <li class="nav-item text-nowrap">
                <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <svg class="bi">
                        <use href="#list"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </header>
    {% url 'dashboard:index' as dashboard_url %}
    {% url 'file_manager:index' as file_manager_url %}
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                     aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">collapsed sidebar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebarMenu"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2 {% if request.path == dashboard_url %}active{% endif %}"
                                   aria-current="page"
                                   href="{{ dashboard_url }}">
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2 {% if request.path == file_manager_url %}active{% endif %}"
                                   href="{{ file_manager_url }}">
                                    File manager
                                </a>
                            </li>
                        </ul>

{#                        <ul class="nav flex-column mb-auto">#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link d-flex align-items-center gap-2" href="">#}
{#                                    other stuff#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}

                        <hr class="my-3">

                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" target="_blank" href="{% url 'xterm:index' %}">
                                    Terminal
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'admin:index' %}">
                                    Admin
                                </a>
                            </li>
                        </ul>

                        <hr class="my-3">

                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <div class="d-grid">
                                        <button class="nav-link d-flex align-items-center gap-2" type="submit">log out
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% block main %}
            {% endblock %}

        </div>
    </div>

    {% block js %}
    {% endblock %}
{% endblock %}