.row {
    height: 100vh;
}

tr {
    user-select: none;
}

.table tr th svg {
    margin-right: 0.5rem;
}


.table {
    table-layout: fixed;
}

#file_path li {
    border: None;
    padding-left: 0;
    padding-right: 0;
}

#file_path li a {
    text-decoration: none;
    color: inherit;
}

#file_path li button:hover {
    background-color: #191c1f;
}

#file_path svg {
    width: 1rem;
    height: 1rem;
}

div header ol {
    max-width: 100%;
}

.dot_svg {
    cursor: pointer;
}

.dot_svg:hover {
    background-color: #1e1e1e;
}

#progress {
    transition: 0.05s;
}