.bi {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.sidebar .nav-link.active {
    color: #2470dc;
    background-color: #1a1d20;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #191c1f;
}